.modal2background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal2-container{
    width :50%;
    height:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.modal2-container>input:nth-child(2){
    width: 90%;
    height: 30px;
}
.modal2-container>input:nth-child(4){
    width: 90%;
    height: 30px;
}
.modal2-container>input:nth-child(3){
    width:90%;
    height:50%;
}
.community-background{
    background-image: url("../design/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community-content-lists{
    width: 100%;
    height: 15rem;
    display: flex;
    border: 1px solid #4C3999;
    background: rgba(0, 0, 0, 0.8);
    padding:20px;
    align-items: center;
}
.community-content-list-container{
    width: 80vw;
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.community-content-lists-contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    color: #fff;
    margin-left: 2rem;
}
.community-content-add-btn{
    height: 3.2vh;
    background: linear-gradient(#7F5FFF, #4C3999);
    width: 4vw;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}
.community-content-add-btn>p{
    font-size: 1rem;
    color: white;
}
.tagsearch-input{
    width: 35vw;
    height: 3.2vh;
    background: none;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #7F5FFF, #4C3999);
    border-radius: 7px;
    border-image-slice: 1;
    color: white;
    font-weight: bolder;
}
.community-tags{
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#7961A8, #340089);
    padding: 5px;
    border-radius: 5px;
}
.community-tags-search-title{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.community-tags-search-title>h1{
    color: white;
}
#titleSearch{
    color: white;
    height: 40px;
    width: 205px;
    border-radius: 5px;
}
#titleSearch::placeholder{
    color: white;
}
.detail-modal-container{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.detail-modal-container-head{
    font-size: 60px;
}
.detail-modal-close{
    width: 70px;
    height: 50px;
    background: #6E3BC1;
    border:none;
    color: white;
    border-radius: 5px;
}
.detail-modal-tags{
    display: flex;
    border: 1px solid #4C3999;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 4px;
    background: #131620;
}
.detail-modal-tags-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.opener-content-modal-input{
    height: 1.7rem;
    border-radius: 5px;
    border: none;
    background: #131620;
    padding: 0 0.5rem;
    color: white;
    font-weight: bolder;
}
.ql-toolbar.ql-snow, .ql-container.ql-snow{
    border: none;
}
.ql-container.ql-snow{
    background-color: #131620;
}
.opener-content-modal-tags-input{
    height: 2.3rem;
    border-radius: 5px;
    border: none;
    background: #131620;
    padding: 0 0.5rem;
    color: white;
    font-weight: bolder;
    width: 45vw;
    box-sizing: border-box;

}
.opener-content-modal-upload{
    width: 4vw;
    height: 2.3rem;
    border: #7F5FFF 1px solid;
    background: none;
    border-radius: 5px;
    color:#7F5FFF;
    font-weight: bold;
}
.opener-content-modal-interaction{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
}
.opener-content-modal-close{
    border:none;
    color: white;
    background: none;
    font-size: 1rem;
}
.modal-content-imgset img{
    max-width: 20vw;
}
.modal-content-imgset{
    border-bottom: rgba(255, 255, 255, 0.55) 1px solid;
    padding-bottom: 1rem;

}
.modal-content2-title{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: rgba(255, 255, 255, 0.55) 1px solid;
}
.modal-content2-tags{
    line-height: 1rem;
    height: 1rem;
    border: 1px solid #4C3999;
    border-radius: 5px;
    padding: 0.3rem;
}