.modal2background{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal2-container{
    width :50%;
    height:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.modal2-container>input:nth-child(2){
    width: 90%;
    height: 30px;
}
.modal2-container>input:nth-child(4){
    width: 90%;
    height: 30px;
}
.modal2-container>input:nth-child(3){
    width:90%;
    height:50%;
}
.community-background{
    background-image: url("../design/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.community-content-lists{
    width: 100%;
    height: 15rem;
    display: flex;
    border: 1px solid #4C3999;
    background: rgba(0, 0, 0, 0.8);
    padding:20px;
    align-items: center;
}
.community-content-list-container{
    width: 80vw;
    margin: 40px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.community-content-lists-contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 90%;
    color: #fff;
    margin-left: 2rem;
}
.community-content-add-btn{
    height: 3.2vh;
    background: linear-gradient(#7F5FFF, #4C3999);
    width: 4vw;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1rem;
    margin-left: 2rem;
}
.community-content-add-btn>p{
    font-size: 1rem;
    color: white;
}
.tagsearch-input{
    width: 35vw;
    height: 3.2vh;
    background: none;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #7F5FFF, #4C3999);
    border-radius: 7px;
    border-image-slice: 1;
    color: white;
    font-weight: bolder;
}
.community-tags{
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#7961A8, #340089);
    padding: 5px;
    border-radius: 5px;
}
.community-tags-search-title{
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.community-tags-search-title>h1{
    color: white;
}
#titleSearch{
    color: white;
    height: 40px;
    width: 205px;
    border-radius: 5px;
}
#titleSearch::placeholder{
    color: white;
}
.detail-modal-container{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.detail-modal-container-head{
    font-size: 60px;
}
.detail-modal-close{
    width: 70px;
    height: 50px;
    background: #6E3BC1;
    border:none;
    color: white;
    border-radius: 5px;
}
.detail-modal-tags{
    display: flex;
    border: 1px solid #4C3999;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 4px;
    background: #131620;
}
.detail-modal-tags-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
