.opener-container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("../design/background.png");
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.opener-content-searchandadd{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 3.3vh;
    width: 90vw;
    justify-content: flex-end;
}
.opener-content-searchandadd>input{
    width: 35vw;
    height: 3.2vh;
    background: none;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #7F5FFF, #4C3999);
    border-radius: 7px;
    border-image-slice: 1;
    color: white;
    font-weight: bolder;
}
.opener-content-searchandadd>button{
    height: 3.2vh;
    background: linear-gradient(#7F5FFF, #4C3999);
    width: 4vw;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1rem;
}
.opener-content-postlist{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 2.5rem;
    margin-top: 2rem;
}
.opener-content-posts{
    width: 100%;
    height: 15rem;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border: 1.2px solid #4C3999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.opener-content-posts-prebviewText{
    height: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 3rem;
}
.opener-content-posts-tags-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.opener-content-posts-tags{
    display: flex;
    border: 1px solid #4C3999;
    height: 2rem;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    padding: 0 1rem;
    border-radius: 4px;
    background: #131620;
}
.modal-content img {
    max-width: 90%;
    height: auto; /* 이미지 비율을 유지하기 위해 높이 자동 */
    display: block; /* 이미지가 중앙에 정렬되지 않도록 블록 요소로 설정 */
    margin: 0 auto; /* 이미지를 중앙에 배치 */
}