.profile-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../design/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.profile-content-all{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px);
}
.profile-content{
    width: 25vw;
    height: 80vh;
    border-radius: 7px;box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: #171A29;
}
.profile-content2{
    width: calc(90% - 25vw);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}
.profile-content-main{
    color: white;
    gap: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh;
}
.profile-content-main-username{
    font-weight: bold;
    font-size: 45px;
    background: linear-gradient(to right, #FFFFFF, #7F5FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.profile-content-main-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    border-radius: 10px;
    background: #131620;
    color: white;
}
.profile-content-main-standing-detail-ranks>p:nth-child(1){
    color: rgba(127, 95, 255, 0.4);
    font-size: 10px;
    font-weight: bolder;
}
.profile-content-main-standing-detail-ranks>p:nth-child(2){
    color: rgba(127, 95, 255, 0.7);
    font-size: 20px;
    font-weight: bolder;
}
.profile-content-main-standing-detail-40l>p:nth-child(1){
    color: #fff;
    font-size: 10px;
    font-weight: bolder;
}
.profile-content-main-standing-detail-40l>p:nth-child(2){
    color: #ff9f5f;
    font-size: 20px;
    font-weight: bolder;
}
.profile-content-main-standing-detail-blitz>p:nth-child(1){
    color: #fff;
    font-size: 10px;
    font-weight: bolder;
}
.profile-content-main-standing-detail-blitz>p:nth-child(2){
    color: #ff5f5f;
    font-size: 20px;
    font-weight: bolder;

}
.profile-content-main-standing{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}
.profile-content-main-standing-ranks{
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
}
.profile-content-main-badges{
    display: flex;
    width: calc(90% - 20px);
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}
.profile-content-main-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #131620;
    width: 20vw;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px;
    color: #a1a1a1;
}
.profile-content-main-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131620;
    width: 20vw;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 10px ;
}
.profile-content-main-4-gamecon{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}
.profile-content-main-4-p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a1a1a1;
}

.profile-content2-40lines{
    border-radius: 10px;
    width: 90%;
    height: 17vh;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
    background: #171A29;
}
.profile-content2-40lines:hover{
    transform: scale(1.05);
}
.profile-content2-zen:hover{
    transform: scale(1.05);
}
.profile-content2-zen{

    width: 90%;
    height: 17vh;
    color: white;
    background: #171a29;
    border-radius: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}
.profile-content2-40lines-head{
    display: flex;
    width: 300px;
    position: sticky;
    gap: 10px;
    align-items: center;
}
.profile-content2-40lines-box{
    background-image: url("../design/40lrectangle.png");
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.profile-content2-blitz-box{
    background-image: url("../design/blzbox.png");
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.profile-content2-zen-box{
        background-image: url("../design/zenbox.png");
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.profile-content2-quick-box{
    background-image: url("../design/quickplaybox.png");
    display: flex;
    align-items: center;
    width: 380px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.profile-content2-40lines-records{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: calc(17vh - 40px);
}
.profile-content2-40lines-standing{
    width: 150px;
    height: 40px;
    border: 1px solid red;
}
.profile-content2-40lines-more{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100px;
    width:  100%;
    padding: 20px;
    z-index: 10;
}
.profile-content-banner{
    width: 100%;
    height: 25vh;

    background-image: url("https://t4.ftcdn.net/jpg/04/42/21/53/360_F_442215355_AjiR6ogucq3vPzjFAAEfwbPXYGqYVAap.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}
.profile-content2-40lines-more2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: #717171;
    height: 60px;
    color: #717171;
}ã…‡
.profile-content2-quick-head{
    width: 600px;
    display: flex;
    align-items: center;
}
.profile-content-more{
    width: 5rem;
    height: 2rem;
    border: 1px solid #4C3999;
    background: #131620;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    transition-property: height, width, background-color, font-size;
    transition-duration: 0.3s;
}
.profile-content-more:hover{
    width: 5.5rem;
    height: 2.5rem;
    background: linear-gradient(#7F5FFF, #4C3999);
    font-size:1.7rem ;
}