.tonew-container{
    width: 100vw;
    min-height: 100vh;
    background-image: url("../design/background.png");
    background-size: cover;
    background-repeat:no-repeat ;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}
.tonew-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.tonew-modal-content {
    background: #171a29;
    padding: 20px;
    border-radius: 4px;
    width: 55vh;
    height: 50vh;
    z-index: 99;
}
.tonew-Showall{
    min-height: 100vh;
    background: none;
    position: absolute;
    width: 100vw;
    box-sizing: border-box;
    z-index: 1;
    border: none;
}
.content-list {
    color: white;
    display: flex;
    width: 80vw;
    align-items: center;
    gap: 8rem;
    height: 80vh;
    border: 1px solid white;
    z-index: 99;
    overflow-x: scroll;
    white-space: nowrap;

    padding: 1rem;
}
.content-item {
    min-width: 25vw; /* Fixed width */
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #171a29;
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
    margin-right: 20px;
    gap: 1rem/* Optional: Add space between items */
}
.tonew-profile-content-2{
    width: 80%;
    height: 7vh;
    background: #131620;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.profile-content-main-standing-detail-ranks{
    color: #4C3999;
}
.tags{
    color: #4C3999;
}